a,
body,
del,
em,
h1,
h2,
h3,
h4,
i,
input,
ins,
img,
li,
div,
p,
span,
ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

i {
  font-style: normal;
}

input {
  border: none;
  outline: none;
}

button {
  border: 0;
  outline: 0;
}

img {
  border: 0;
  vertical-align: middle;
}

html {
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}

body {
  font-size: 12px;
  line-height: 1;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -40%, 0);
    transform: translate3d(0, -40%, 0);
    visibility: visible;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}